In [38]:
from models import create_classes
import os
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import (
    Flask,
    render_template,
    url_for,
    json,
    jsonify,
    request,
    redirect)
import pandas as pd

In [46]:
engine = create_engine('postgres://xbrqktwe:E_nywn4IJhz89kqxwG3M498kv8qnq4Z6@rajje.db.elephantsql.com:5432/xbrqktwe')

In [47]:
test=pd.read_sql('select * from "CovidCases_On" limit 10;', engine)

In [48]:
test

   Number_of_Cases     Date
0                3  01/2020
1               14  02/2020
2             3006  03/2020
3            14970  04/2020
4            11050  05/2020
5             6266  06/2020
6             4061  07/2020
7             3139  08/2020
8            10133  09/2020
9            24627  10/2020

In [51]:
test.to_dict(orient='list')

{'Number_of_Cases': [3,
  14,
  3006,
  14970,
  11050,
  6266,
  4061,
  3139,
  10133,
  24627],
 'Date': ['01/2020',
  '02/2020',
  '03/2020',
  '04/2020',
  '05/2020',
  '06/2020',
  '07/2020',
  '08/2020',
  '09/2020',
  '10/2020']}

In [65]:

Base = automap_base()
Base.prepare(engine, reflect=True)
#summary = Base.classes.summary
session = Session(engine)

In [66]:
Base.classes.keys()

['Units_sold_BC_transf_2019',
 'Units_sold_BC_transf_2020',
 'CovidCases_On',
 'Interest_rate_2019',
 'Price_Houses_sold_ON_2020',
 'Interest_rate_2020',
 'Price_Houses_sold_ON_2019',
 'web_scrapping']

In [52]:
test_table=Base.classes.CovidCases_On

In [67]:
result=session.query(test_table).all()
result_dict=[]
for i in result:
    single_dict={}
    single_dict[i.Date]=i.Number_of_Cases
    result_dict.append(single_dict)
    
result_dict

[{'01/2020': 3},
 {'02/2020': 14},
 {'03/2020': 3006},
 {'04/2020': 14970},
 {'05/2020': 11050},
 {'06/2020': 6266},
 {'07/2020': 4061},
 {'08/2020': 3139},
 {'09/2020': 10133},
 {'10/2020': 24627},
 {'11/2020': 1436}]

In [25]:
result

In [45]:
session.close()